# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# AWS / credentials
.aws/
*.pem
*.key
credentials

# OS
.DS_Store